/* body {
	background: #f1f1f1;
	font-family: 'Roboto', sans-serif;
	background-image: url('generic-crawfish.png');
	background-repeat: no-repeat;
	background-size: 400px 400px;
	background-position: right center;
} */

body {
	background: #f1f1f1;
	font-family: 'Roboto', sans-serif;
}

body::after {
	content: "";
	background-image: url('generic-crawfish.png');
	background-repeat: no-repeat;
	background-size: 600px 600px;
	background-position: right center;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
  }

/* 
  Contact form CSS formatting goes here
*/
.contact-form {
	font-family: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	display: grid;
	justify-content: center;

}

.contact-form .separator {
	border-bottom: solid 1px #ccc;
	margin-bottom: 15px;
}

.contact-form .form {
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.contact-form_title {
	color: rgb(172, 27, 27);
	text-align: left;
	font-size: 70px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
	border: solid 1px #e8e8e8;
	font-family: 'Roboto', sans-serif;
	padding: 10px 7px;
	margin-bottom: 15px;
	outline: none;
	opacity: 0.9;
}

.contact-form textarea {
	resize: none;
}

.contact-form .button {
	background: rgb(172, 27, 27);
	border: solid 1px #ee4444;
	color: white;
	cursor: pointer;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
}

.contact-form .button:hover {
	background: #ea532a;
	border: solid 1px #ea532a;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea,
.contact-form .button {
	font-size: 15px;
	border-radius: 3px
}

.reg-text {
	color: rgb(172, 27, 27);
	text-align: left;
	font-size: 40px;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}

/* 
  Custom check box formatting
*/

.container {
	display: inline-block;
	width: 100%;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	font-family: 'Gloria Hallelujah';
	font-weight: bold;
  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #ee7373;
	border-radius: 50%;
	opacity: 0.95;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: rgb(172, 27, 27);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color:rgb(172, 27, 27);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }
  
/* Date picker format */

[type="date"] {
	background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
[type="date"]::-webkit-inner-spin-button {
display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
opacity: 0;
}

.dateOfService {
	border: 0;
	background-color: #fff;
	padding: 3px 5px;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
	width: 100%;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
  }
