<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="contact.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>

	<div id="contact-form" class="contact-form">
		<h1 class="contact-form_title">Doc's Crawdads</h1>
		<div class="separator"></div>

		<div v-if="isSending" class="loading">Sending...</div>

		<form class="form" @submit="onSubmit">
			<input required name="name" v-model='contact.name' placeholder="Name" type="text" autocomplete="off">
			<input required name="email" v-model="contact.email" placeholder="E-mail" type="email" autocomplete="off">
			<input name="phone" v-model="contact.phone" placeholder="Phone Number (Optional)" type="text">
			
			<p class='reg-text'>I'm looking for...</p>
				<label class="container">Cooked on-site
					<input type="radio" checked="checked" name="radio1" value="on-site" v-model="contact.howTo">
					<span class="checkmark"></span>
				</label>
				<label class="container">Hot Delivery
					<input type="radio" name="radio1" value="Hot Delivery" v-model="contact.howTo">
					<span class="checkmark"></span>
				</label>
			
			<p class='reg-text'>I'm feeding...</p>
				<label class="container"> 25-50 people
					<input type="radio" checked="checked" name="radio2" value="small-group" v-model="contact.howMany">
					<span class="checkmark"></span>
				</label>
				<label class="container"> 50-100 people
					<input type="radio" name="radio2" value="medium-group" v-model="contact.howMany">
					<span class="checkmark"></span>
				</label>
				<label class="container"> 100+ people
					<input type="radio" name="radio2" value="large-group" v-model="contact.howMany">
					<span class="checkmark"></span>
				</label>

			<p class='reg-text'>On the date of...</p>
			<input type="date" name="dateofservice" class="dateOfService" v-model="contact.date">
			<input type="time" name="timeofservice" class="dateOfService" v-model="contact.time">

		
			<textarea name="message" v-model="contact.message" rows="4" placeholder="Additional Info (Special requests, Location)"></textarea>
			<button class="button">Send</button>
		</form>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="contact.js"></script>
